@use '../../index' as var;

.wrapper {
  width: max-content;
  margin: 0 auto;

  h2 {
    font-size: #{'min(max(18px, 1.6vw), 20px)'};
    line-height: 115%;
    font-weight: 500;
  }

  article {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 25px;
  }

  .link {
    font-size: 15px;
    line-height: 120%;
    font-weight: 500;

    &:hover {
      opacity: 0.7;
    }
  }

  .svg {
    width: 1.25rem;
    height: 0.5625rem;
    margin-left: 0.5rem;
    vertical-align: middle;
  }

  ul {
    display: flex;
    gap: 20px;
    width: 1415px;
    padding: 20px 25px;
    overflow: auto hidden;
    cursor: grab;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: var.$theme-primary-color;
      cursor: grab;
    }

    &::-webkit-scrollbar-track {
      margin-left: 25px;
      margin-right: 25px;
    }

  }
}
