body {
  margin: 0 auto;
  max-width: 100vw;
  min-width: 375px;
  font-family: Roboto, Arial, Helvetica, sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $body-bg;
  color: $body-color;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  input {
    padding: 0;
    border: none;
    background-color: inherit;
    outline: none;
  }

  button {
    cursor: pointer;
    background: transparent;
    outline: none;
    border-style: none;
    padding: 0;
    color: inherit;
    font-family: inherit;
  }
}
