$white: #fff;
$black: #000;
$theme-primary-color: #7266f3;
$theme-secondary-color: #7f73fa;
$body-bg: #f7f7fb;
$footer-bg: #18171b;
$body-color: #343434;
$bg-subscribe: #edf2f5;
$bg-no-image: #E9E8F1;
$link-border: #E3EEFF;
$link-color: #4791FF;
$promo-color: #F45656;
$body-color-light-grey: #BDC2D3;
$border-color: #E6EBFB;
$bg-gradient-green: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
