@use '../../assets/styles/utils/mixins' as media;
@use '../../assets/styles/utils/variables' as color;


.slider__button {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

    @include media.respond-to('middle') {
      display: none;
    }

    button {
      width: 8.5%;
      transition: background 0.25s;
    }

    button:hover {
      background:rgba(255 255 255 / 5%);
    }
}

.slider__swg {
  width: 9px;
  height: 16px;
  color: color.$white;
}
