@use '../../index' as var;

.card {
  position: relative;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

  &:hover {
    transform: scale(1.1, 1.05);
    transition: transform 0.3s ease-in-out;
  }

  img {
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
    scroll-snap-align: start;
  }

  h3 {
    width: 95%;
    font-size: #{'min(max(14px, 1.2vw), 16px)'};
    line-height: 150%;
    font-weight: 500;
  }

  &:hover h3 {
    color: var.$link-color;
  }

  span {
    color: var.$body-color-light-grey;
  }

  .promo {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
    background: var.$promo-color;
    border-radius: 5px;
    padding: 5px 10px;
    color: var.$white;
    font-size: 15px;
    line-height: 120%;
    font-weight: 500;
  }
}
