.result {
    width: 800px;
    background-color: white;
    position: absolute;
    top: 51px;
    border-radius: 10px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    border-bottom: 1px solid #EAF0F8;
}

.link {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    min-height: 30px;
    color: #343434;
    text-decoration: none;
    transition: color 0.25s;
}

.icon {
    width: 20px;
    height: 24px;
    margin-right: 10px;
}

.text {
    font-size: 15px;
    font-weight: 400px;
    line-height: 12px;
    margin: 0 10px 0 0;
}

.span {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 10px;
    font-weight: 400;
    padding: 0 8px;
    color: #343434;
    background-color: #E5E8F3;
    border-radius: 4px;
    height: 20px;
}

.link-blue {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    text-decoration: none;
    color: #4791FF;
}

.link-blue:hover {
    color: #7cadf8;
}